.gradient-legend {
    position: absolute;
    bottom: 20px; /* Adjust distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 20px; /* Adjust height as needed */
    background-color: white;
    border: 1px solid white; /* White border */
    z-index: 9999; /* Ensure it's above other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.gradient-bar {
    flex: 1;
    height: 100%;
    background: linear-gradient(to right, 
        #d0e1f9, #c0d8f0, #b0cfe8, #a0c7df, #90bed7, #80b5cf, 
        #70adc6, #60a4be, #509cb6, #4093ad, #308aa5, #20819d, 
        #107895, #006f8c, #006684, #005d7c, #005473, #004b6b, 
        #004262, #011925);
}

.legend-label {
    font-size: 12px;
    font-weight: bold;
}